<%= form_for(payment_notification) do |f| %>
  <% if payment_notification.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(payment_notification.errors.count, "error") %> prohibited this payment_notification from being saved:</h2>

      <ul>
      <% payment_notification.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :params %>
    <%= f.text_area :params %>
  </div>

  <div class="field">
    <%= f.label :cart_id %>
    <%= f.text_field :cart_id %>
  </div>

  <div class="field">
    <%= f.label :status %>
    <%= f.text_field :status %>
  </div>

  <div class="field">
    <%= f.label :transaction_id %>
    <%= f.text_field :transaction_id %>
  </div>

  <div class="field">
    <%= f.label :create %>
    <%= f.text_field :create %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
