<!DOCTYPE html>
<html>
  <head>
    <title>Papypal</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <%= link_to "Paypal", root_path, class: "navbar-brand" %>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <li><%= link_to current_user.username %></li>
            <li><%= link_to "Logout", root_path, method: :delete %></li>
          <% else %>
            <li><a href="#">Home</a></li>
            <li><%= link_to "Login", new_user_session_path %></li>
            <li><%= link_to "Registration", new_user_registration_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
